POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ping_pong_db

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?schema=public"

FORTYTWO_APP_ID=<42-APP-UID>
FORTYTWO_APP_SECRET=<42-APP-SECRET>

JWT_SECRET=5db1fee4b5703808c48078a76768b155b421b210c0761cd6a5d223f4d99f1eaa # "1337" in SHA256

AUTH_APP_NAME=ping1337pong

# Redirections
DOMAIN_URL="http://127.0.0.1.nip.io"
HOME_URL="${DOMAIN_URL}/"
VERIFY_2FA_URL="${DOMAIN_URL}/verify2fa"
